.static-example .positioned-element {
  background-color: green;
  left: 100px;
}

.relative-example .positioned-element {
  background-color: lightblue;
  position: relative;
  left: 100px;
  top: 50px;
  z-index: -1;
}

.absolute-example .positioned-element {
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}

.absolute-example {
  position: relative;
}

.fixed-example .positioned-element {
  background-color: purple;
  z-index: 9999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.sticky-example .positioned-element {
  background-color: orange;
  top: 50px;
}
